/* ROOT */

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@font-face {
  font-family: "Garamond";
  src: url("/assets/fonts/itc-garamond-std-light-condensed-italic.ttf");
}

:root {
  /* Fontes */
  --font-primary: "DM Sans", sans-serif; /* Fonte principal Google Font */
  --font-secondary: "Garamond", serif; /* Fonte secundária */

  /* Cores */
  --color-primary: #232323;
  --color-secondary: #6e7275;
  --color-secondary2: #e7e5e6;
  --color-background: #f9f9f9;

  /* Space */
  --spacing-between-sections: 200px;
}

/* Reset configuraçao padrão */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* H1 (Hero) */

.h1garamond {
  font-family: var(--font-secondary);
  font-style: italic;
  font-size: 200px;
  letter-spacing: 2px;
  color: var(--color-primary);
}

.h1dmsans {
  font-family: var(--font-primary);
  font-size: 200px;
  letter-spacing: -6px;
  font-weight: 300;
  color: var(--color-primary);
}

/* H2, H3, H4, H5, p */

h2,
h4,
h5,
p {
  font-family: var(--font-primary);
  line-height: 1.2;
  color: var(--color-primary);
}

/* H2 (Hero) */
h2 {
  font-weight: 300;
  color: var(--color-primary);
}

h3 {
  font-family: var(--font-secondary);
  font-style: italic;
  font-size: 40px;
  letter-spacing: 2px;;
  color: var(--color-primary);
}

h4 {
  font-family: var(--font-primary);
  font-size: 24px;
  line-height: 1.2;
  color: var(--color-primary);
}

/* h5 -Captions */

h5 {
  font-family: var(--font-primary);
  font-size: 14px;
  line-height: 1.2;
  color: var(--color-primary);
}

h5.bold {
  font-weight: 700;
}

h5.light {
  font-weight: 300;
}

p {
  font-size: 16px;
  font-weight: 300;
  color: var(--color-primary);
}

p.bold {
  font-weight: 600;
}

/* ******************* Body */

body {
  max-width: 100%;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-background);
}

/* ******************* Header Navbar */

/* Estilos Gerais */
header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--color-background);
  color: var(--color-primary);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  z-index: 1;
  top: 0;
}

.nav-container {
  width: 100%;
  max-width: 1152px;
  height: 104px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 4;
}

#nav-texts {
  display: flex;
  width: 25%;
  justify-content: space-between;
}

#nav-texts h5 {
  color: var(--color-primary);
}

.menu-open-icon img,
.menu-close-icon img {
  max-width: 48px;
  max-height: 48px;
  cursor: pointer;
}

/* ******************* Menu Overlay */
.menu-overlay {
  position: fixed;
  top: 0;
  right: -100%;
  width: 40%;
  height: 100%;
  background-color: var(--color-primary);
  transition: right 0.3s ease-in-out;
  z-index: 2;
}

.menu-overlay a{
  text-decoration: none;
}

.menu-overlay.active {
  right: 0;
}

.menu-content {
  margin-left: 10%;
  margin-top: 28%;
}

.menu-content h3 {
  color: var(--color-background);
  padding-bottom: 40px;
  cursor: pointer;
}

.menu-content h3:hover {
  opacity: 0.5;
}

.menu-close-icon {
  position: absolute;
  top: 40px;
  right: 20px;
}

.menu-content button {
  margin-top: 10%;
}



/* ******************* Main */

main {
  width: 100%;
  max-width: 1152px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  top: 104px;
  padding-left: 10px;
  padding-right: 10px;
}

/* ******************* Hero */

.hero {
  padding-bottom: var(--spacing-between-sections);
  display: flex;
  justify-content: start;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.hero #h1garamond {
  margin-top: 24%;
  margin-bottom: -8%;
}

.hero #h1dmsans {
  margin-left: 14%;
}

.hero #h2 {
  margin-left: 48%;
}

/* Estilo geral para as imagens */
.hero .image {
  position: absolute; 
  opacity: 0; 
  animation-duration: 1s; 
  animation-fill-mode: forwards; 
}

/* ******************* Animações das Imagens */
@keyframes fadeIn1 {
  0% {
    opacity: 0;
    transform: translate(50%, 50%); 
  }
  100% {
    opacity: 1;
    transform: translate(0, 0); 
  }
}

@keyframes fadeIn2 {
  0% {
    opacity: 0;
    transform: translate(50%, -50%); 
  }
  100% {
    opacity: 1;
    transform: translate(0, 0); 
  }
}

@keyframes fadeIn3 {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%); 
  }
  100% {
    opacity: 1;
    transform: translate(0, 0); 
  }
}

@keyframes fadeIn4 {
  0% {
    opacity: 0;
    transform: translate(-50%, 50%); 
  }
  100% {
    opacity: 1;
    transform: translate(0, 0); 
  }
}

/* ******************* Aplicação de Estilo às Imagens */
#image1 {
  bottom: 2%; 
  right: -10%; 
  max-height: 300px;
  height: 100%; 
  max-width: 100%; 
  animation-name: fadeIn1;
  animation-delay: 0.5s; 
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

#image2 {
  top: 10%; 
  right: -10%; 
  max-height: 350px;
  height: 100%; 
  max-width: 100%; 
  animation-name: fadeIn2;
  animation-delay: 1s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

#image3 {
  top: 16%; 
  left: 16%; 
  max-height: 100px;
  height: 100%; 
  max-width: 100%; 
  animation-name: fadeIn3;
  animation-delay: 1.5s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

#image4 {
  bottom: 4%; 
  left: -16%;
  max-height: 350px;
  height: 100%; 
  max-width: 100%; 
  animation-name: fadeIn4;
  animation-delay: 2s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}


/* ******************* Selected Projects */

.selected-projects {
  padding-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 100%;
  padding-bottom: var(--spacing-between-sections);
}

.selected-projects h3 {
  padding-top: 100px;
  margin-bottom: 80px;
  width: 100%;
}

/*accordion*/

.container.mt-5 {
  padding: 0; /
}

#accordion-button {
  background-color: var(--color-background);
  padding-left: 0;
}

#project h5 {
  width: 200px;
  color: var(--color-secondary);
}

#project h4 {
  margin-left: 20%;
}

.accordion-body {
  display: flex; 
  align-items: flex-start; 
  padding: 40px 0; 
  
}

.accordion  {
  --bs-accordion-border-color: none;
}

.accordion-button:focus {
    box-shadow: none; 
}

.accordion-img img {
  display: block;
  max-width: 100%;
  height: auto;
}

.accordion-text {
  flex: 1;
  margin-right: 8%; 
  margin-left: 8%;
}

.accordion-text #grey {
  margin-bottom: 40px;
  color: var(--color-secondary);
}

.accordion-text p {
  margin: 0;
}


/* ******************* Experience */

.experience {
  padding-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 100%;

  padding-bottom: var(--spacing-between-sections);
}

.experience h3 {
  margin-bottom: 104px;
  width: 100%;
  text-align: left; 
  padding: 0; 
  margin: 0 0 104px 0; 
}

.experience-container {
margin-left: 20%;
display: flex;
padding-bottom: 40px;
}

#date {
  flex-shrink: 0;
  width: 100px;
  color: var(--color-secondary);
}

#info {
    margin-left: 20%;

}


/* ******************* Skills (3 cards) */

.skills-container {
  display: flex;
  flex-direction: row; 
  justify-content: space-between; 
  align-items: flex-start; 
  gap: 24px; 
  padding-bottom: var(--spacing-between-sections);
}

/* 3 Cards */

.card-skills {
  display: flex;
  flex-direction: column;
  height: 300px; 
  padding: 24px;
  position: relative;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
}

.texts {
  display: flex;
  gap:20px;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 24px;
}

.card-skills h5 {
  margin-right:20px;
  font-weight: 300;
}

/*Card 1 - Strategy*/
.card-skills.strategy {
  background-color: var(--color-secondary2);
  height: 400px;  
}

.card-skills.strategy h5, .card-skills.strategy h2{
  color: var(--color-primary);
}

/*Card 2 e 3 - Creative e Development*/
.card-skills.creative,
.card-skills.development {
  background-color: var(--color-primary);
  height: 564px; 
}

.card-skills.creative h2, .card-skills.creative h5,
.card-skills.development h2, .card-skills.development h5 {
  color: var(--color-background);
}

.card-skills.texts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

/* Estilos das Keywords */
.keywords {
  display: flex;
  flex-wrap: wrap; 
  gap: 10px; 
  max-width: 330px;
  margin-top: auto;
  padding-bottom: 24px;
}

.keyword {
  padding: 8px 16px;
  border-radius: 60px;
}

.card-skills.strategy .keyword {
  background-color: rgba(35, 35, 35, 0.1 );
  color: var(--color-primary);
}

.card-skills.creative .keyword,
.card-skills.development .keyword {
  background-color: rgba(249, 249, 249, 0.1 );
  color: var(--color-background);
}

.card-skills.creative {
  margin-top: 80px;
}

.card-skills.development {
  margin-top: 160px;
}

/* paragrafo do Card1 */
.card1-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 368px;
}

.card1-container p {
  margin: 0;
  margin-top: 60px;
  max-width: 320px;
}



/* ******************* Education */

.education {
  padding-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 100%;
  padding-bottom: var(--spacing-between-sections);
}

.education h3 {
  margin-bottom: 104px;
  width: 100%;
  text-align: left; 
  padding: 0; 
  margin: 0 0 104px 0; 
}

.education-container {
  margin-left: 20%;
  display: flex;
  padding-bottom: 40px;
}


/* ******************* About me */

.about-me {
  padding-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 100%;
  padding-bottom: var(--spacing-between-sections);
}

.about-me h3 {
  margin-bottom: 104px;
  width: 100%;
  text-align: left; 
  padding: 0; 
  margin: 0 0 104px 0; 
}

.about-me img{
  max-height: 480px;
  height: 100%; 
  max-width: 100%; 
  object-fit: contain; 
}

.paragraphs-container{
  margin-left: 20%;
  margin-top: 80px;
  display: flex;
  padding-bottom: 40px;
  gap: 20px;
}

.paragraphs-container p{
  flex: 1;
  max-width: 50%;
}
.paragraphs-container p br {
  content: "";
  display: block;
  margin-bottom: 20px;
}

/* ******************* Feedback */

.feedback {
  padding-bottom: var(--spacing-between-sections);
  display: flex;
  justify-content: start;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.feedback__cards {
  display: flex;
  flex-direction: column;
  gap: 24px; 
  width: 100%;
  align-items: center; 
}

.feedback__title { /* H3 */
  width: 100%;
  text-align: left; 
  padding: 0; 
  margin: 0 0 104px 0; 
}

.feedback__row1, 
.feedback__row2 {
  display: flex;
  width: 100%;
}

.feedback__row1 {
  justify-content: flex-end; 
  gap: 24px;
}

.feedback__row2 {
  justify-content: flex-start; 
  gap: 24px;
}

.feedback__card1, .feedback__card2, .feedback__card3, .feedback__card4{
  padding: 40px;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  max-width: 368px;
  height: 520px;
  background-color: var(--color-secondary2);
  width: calc(33.33% - 12px); 
  text-align: left;
  display: flex;
  flex-direction: column; 
}

.feedback__card-header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.feedback__card-info h5{
  font-weight: 400;
  font-style: italic;
}

#feedback-memoji{
  max-width: 100%;
  margin-top: 24px;
}

.feedback__card-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; 
  flex-grow: 1; 
}

.mensagem-linkedin{
display: none;
color: var(--color-background);
}

.linkedin_icon_branco{
display: none;
}

/* hover cards */
.feedback__card1:hover, 
.feedback__card2:hover, 
.feedback__card3:hover, 
.feedback__card4:hover {
  background-color: var(--color-primary);
}

/* Hover para o conteúdo dentro do card */
.feedback__card1:hover h4,
.feedback__card2:hover h4,
.feedback__card3:hover h4,
.feedback__card4:hover h4,
.feedback__card1:hover h5,
.feedback__card2:hover h5,
.feedback__card3:hover h5,
.feedback__card4:hover h5{
  color: var(--color-background)
}

/* Elementos imagens */
.feedback .image {
  position: absolute;
}

#image6 {
  top: 6%; 
  left: -20%; 
  max-height: 550px;
  height: auto;
  max-width: 100%;
}

#image7 {
  bottom: 12%; 
  right: -16%;
  max-height: 550px;
  height: auto;
  max-width: 100%;
}


/* ******************* Footer */

.footer {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--color-primary);
  position: relative;
}

/* Topo do footer (contactos e socialmedia) */

.footer__top{
  max-width: 1152px;
  width: 100%;
}

.footer__contents {
  max-width: 1152px; 
  width: 100%; 
  display: flex;
  justify-content: space-between; 
  align-items: flex-start; 
  padding: 10px;
}

.footer__contacts{
  margin-top: 104px;
  flex: 2; 
}

.footer__social-media {
  margin-top: 104px;
  padding-left: 200px;
  flex: 1; 
}

.footer__title { /*h5*/
  margin-bottom: 40px;
  color:var(--color-background)
}

.footer__list-contacts h4 {
  color: var(--color-background);
  font-weight: 400;
}

/* Botões de redes sociais */
.footer__list-social-media {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.footer__button {
  padding: 10px 20px;
  font-size: 16px;
  border: 1px solid var(--color-background);
  border-radius: 25px;
  background: none;
  color: var(--color-background);
  cursor: pointer;
}

.footer__button:hover {
  background: var(--color-background);
  color: var(--color-primary);
}

/* Parte bottom do footer */


.footer__bottom {
  max-width: 1152px;
  width: 100%;
  justify-content: space-between; 
  display: flex;
  flex-direction: column;
  margin-top: 40px;
}

.footer__talk {
  margin-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between; 
  padding: 10px;
}

.footer__talk-title{
  margin-top: 148px;
  margin-bottom: 0;
  padding-bottom: 0;
  line-height: 0.8;
  font-family: var(--font-primary);
  font-size: 224px;
  font-weight: 300;
  color: var(--color-background);
}

.contactme__button{
  padding: 10px 20px !important;
  font-size: 16px !important;
  border-radius: 25px !important;
  background-color: var(--color-background) !important;
  color: var(--color-primary) !important;
  cursor: pointer !important;
  margin-bottom: 10px !important;
  border: none;
}

.contactme__button:hover {
  background: var(--color-primary) !important;
  color: var(--color-background) !important;
  border: var(--color-background) solid 1px;
  b
}

.contactme__button img{
  margin-left: 32px !important;
}

.contactme__button img:hover {
  color: var(--color-background) !important;
}

/* Direitos autorais */
.footer__copyrights {
  margin-top: 20px;
}

.footer__hr {
  border: 0;
  border-top: 1px solid white;
  opacity: 1;
  width: 100%;
}

.footer__copyrights-text {
  color:var(--color-background);
  font-weight: 200;
  letter-spacing: 2px;
  margin-bottom: 20px;
  margin-top: 20px;
}

/* Estilo geral para a imagem Origami Azul */
.footer .image {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0; /
}

@keyframes fadeInFromBottom {
  0% {
    opacity: 0; 
    transform: translateX(-50%) translateY(100%); 
  }
  100% {
    opacity: 1; 
    transform: translateX(-50%) translateY(-60%); 
  }
}