/* ROOT */

@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@font-face {
  font-family: "Garamond";
  src: url("/assets/fonts/itc-garamond-std-light-condensed-italic.ttf");
}

:root {
  /* Fontes */
  --font-primary: "DM Sans", sans-serif; /* Fonte principal Google Font */
  --font-secondary: "Garamond", serif; /* Fonte secundária */

  /* Cores */
  --color-primary: #232323;
  --color-secondary: #6e7275;
  --color-secondary2: #e7e5e6;
  --color-background: #f9f9f9;

  /* Space */
  --spacing-between-sections: 200px;
}

/* Reset configuraçao padrão */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* H1 (Hero) */

.h1garamond {
  font-family: var(--font-secondary);
  font-style: italic;
  font-size: 200px;
  letter-spacing: 2px;
  color: var(--color-primary);
}

.h1dmsans {
  font-family: var(--font-primary);
  font-size: 200px;
  letter-spacing: -6px;
  font-weight: 300;
  color: var(--color-primary);
}

/* H2, H3, H4, H5, p */

h2,
h4,
h5,
p {
  font-family: var(--font-primary);
  line-height: 1.2;
  color: var(--color-primary);
}

/* H2 (Hero) */
h2 {
  font-weight: 300;
  color: var(--color-primary);
}

h3 {
  font-family: var(--font-secondary);
  font-style: italic;
  font-size: 40px;
  letter-spacing: 2px;;
  color: var(--color-primary);
}

h4 {
  font-family: var(--font-primary);
  font-size: 24px;
  line-height: 1.2;
  color: var(--color-primary);
}

/* h5 -Captions */

h5 {
  font-family: var(--font-primary);
  font-size: 14px;
  line-height: 1.2;
  color: var(--color-primary);
}

h5.bold {
  font-weight: 700;
}

h5.light {
  font-weight: 300;
}

p {
  font-size: 16px;
  font-weight: 300;
  color: var(--color-primary);
}

p.bold {
  font-weight: 600;
}

/* ******************* Body */

body {
  max-width: 100%;
  margin: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-background);
}

/* ******************* Header Navbar */

/* Estilos Gerais */
header {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--color-background);
  color: var(--color-primary);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  z-index: 1;
  top: 0;
}

.nav-container {
  width: 100%;
  max-width: 1152px;
  height: 104px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 4;
}

#nav-texts {
  display: flex;
  width: 25%;
  justify-content: space-between;
}

#nav-texts h5 {
  color: var(--color-primary);
}

.menu-open-icon img,
.menu-close-icon img {
  max-width: 48px;
  max-height: 48px;
  cursor: pointer;
}

/* ******************* Menu Overlay */
.menu-overlay {
  position: fixed;
  top: 0;
  right: -100%;
  width: 40%;
  height: 100%;
  background-color: var(--color-primary);
  transition: right 0.3s ease-in-out;
  z-index: 2;
}

.menu-overlay.active {
  right: 0;
}

.menu-content {
  margin-left: 10%;
  margin-top: 28%;
}

.menu-content h3 {
  color: var(--color-background);
  padding-bottom: 40px;
  cursor: pointer;
}

.menu-content h3:hover {
  opacity: 0.5;
}

.menu-close-icon {
  position: absolute;
  top: 40px;
  right: 20px;
}


/* ******************* Main */

main {
  width: 100%;
  max-width: 1152px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  top: 104px;
  padding-left: 10px;
  padding-right: 10px;
}

/* ******************* Hero */

.hero {
  padding-bottom: var(--spacing-between-sections);
  display: flex;
  justify-content: start;
  flex-direction: column;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.hero #h1garamond {
  margin-top: 24%;
  margin-bottom: -8%;
}

.hero #h1dmsans {
  margin-left: 14%;
}

.hero #h2 {
  margin-left: 48%;
}

/* Estilo geral para as imagens */
.hero .image {
  position: absolute; 
  opacity: 0; 
  animation-duration: 1s; 
  animation-fill-mode: forwards; 
}

/* ******************* Animações das Imagens */
@keyframes fadeIn1 {
  0% {
    opacity: 0;
    transform: translate(50%, 50%); 
  }
  100% {
    opacity: 1;
    transform: translate(0, 0); 
  }
}

@keyframes fadeIn2 {
  0% {
    opacity: 0;
    transform: translate(50%, -50%); 
  }
  100% {
    opacity: 1;
    transform: translate(0, 0); 
  }
}

@keyframes fadeIn3 {
  0% {
    opacity: 0;
    transform: translate(-50%, -50%); 
  }
  100% {
    opacity: 1;
    transform: translate(0, 0); 
  }
}

@keyframes fadeIn4 {
  0% {
    opacity: 0;
    transform: translate(-50%, 50%); 
  }
  100% {
    opacity: 1;
    transform: translate(0, 0); 
  }
}

/* ******************* Aplicação de Estilo às Imagens */
#image1 {
  bottom: 2%; 
  right: 10%; 
  max-height: 220px;
  height: 100%; 
  max-width: 100%; 
  animation-name: fadeIn1;
  animation-delay: 0.5s; 
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

#image2 {
  top: 10%; 
  right: 10%; 
  max-height: 300px;
  height: 100%; 
  max-width: 100%; 
  animation-name: fadeIn2;
  animation-delay: 1s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

#image3 {
  top: 16%; 
  left: 16%; 
  max-height: 100px;
  height: 100%; 
  max-width: 100%; 
  animation-name: fadeIn3;
  animation-delay: 1.5s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

#image4 {
  bottom: 4%; 
  left: 1%;
  max-height: 300px;
  height: 100%; 
  max-width: 100%; 
  animation-name: fadeIn4;
  animation-delay: 2s;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}


/* ******************* Selected Projects */

.selected-projects {
  padding-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 100%;
  padding-bottom: var(--spacing-between-sections);
}

.selected-projects h3 {
  padding-top: 100px;
  margin-bottom: 104px;
  width: 100%;
}

/*accordion*/

.container.mt-5 {
  padding: 0; /
}

#accordion-button {
  background-color: var(--color-background);
  padding-left: 0;
}

#project h5 {
  width: 200px;
  color: var(--color-secondary);
}

#project h4 {
  margin-left: 20%;
}

.accordion-body {
  display: flex; 
  align-items: flex-start; 
  padding: 40px 0; 
  
}

.accordion  {
  --bs-accordion-border-color: none;
}

.accordion-button:focus {
    box-shadow: none; 
}

.accordion-img img {
  display: block;
  max-width: 100%;
  height: auto;
}

.accordion-text {
  flex: 1;
  margin-right: 8%; 
  margin-left: 8%;
}

.accordion-text #grey {
  margin-bottom: 40px;
  color: var(--color-secondary);
}

.accordion-text p {
  margin: 0;
}


/* ******************* Experience */

.experience {
  padding-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 100%;

  padding-bottom: var(--spacing-between-sections);
}

.experience h3 {
  margin-bottom: 104px;
  width: 100%;
  text-align: left; 
  padding: 0; 
  margin: 0 0 104px 0; 
}

.experience-container {
margin-left: 20%;
display: flex;
padding-bottom: 40px;
}

#date {
  flex-shrink: 0;
  width: 100px;
  color: var(--color-secondary);
}

#info {
    margin-left: 20%;

}


/* ******************* Skills (3 cards) */

.skills-container {
  display: flex;
  flex-direction: row; 
  justify-content: space-between; 
  align-items: flex-start; 
  gap: 24px; 
  padding-bottom: var(--spacing-between-sections);
}

/* 3 Cards */

.card-skills {
  display: flex;
  flex-direction: column;
  height: 300px; 
  border: 1px solid #ddd;
  padding: 24px;
  position: relative;
  border-radius: 10px;
}

.texts {
  display: flex;
  gap:20px;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 24px;
}

.card-skills h5 {
  margin-right:20px;
  font-weight: 300;
}

/*Card 1 - Strategy*/
.card-skills.strategy {
  background-color: var(--color-secondary2);
  height: 400px;  
}

.card-skills.strategy h5, h2{
  color: var(--color-primary);
}

/*Card 2 e 3 - Creative e Development*/
.card-skills.creative,
.card-skills.development {
  background-color: var(--color-primary);
  height: 564px; 
}

.card-skills.creative h2,h5,
.card-skills.development h2,h5 {
  color: var(--color-background);
}

.card-skills.texts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

/* Estilos das Keywords */
.keywords {
  display: flex;
  flex-wrap: wrap; 
  gap: 10px; 
  max-width: 330px;
  margin-top: auto;
  padding-bottom: 24px;
}

.keyword {
  padding: 8px 16px;
  border-radius: 60px;
}

.card-skills.strategy .keyword {
  background-color: rgba(35, 35, 35, 0.1 );
  color: var(--color-primary);
}

.card-skills.creative .keyword,
.card-skills.development .keyword {
  background-color: rgba(249, 249, 249, 0.1 );
  color: var(--color-background);
}

.card-skills.creative {
  margin-top: 80px;
}

.card-skills.development {
  margin-top: 160px;
}

/* paragrafo do Card1 */
.card1-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 368px;
}

.card1-container p {
  margin: 0;
  margin-top: 60px;
  max-width: 320px;
}



/* ******************* Education */

.education {
  padding-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 100%;
  padding-bottom: var(--spacing-between-sections);
}

.education h3 {
  margin-bottom: 104px;
  width: 100%;
  text-align: left; 
  padding: 0; 
  margin: 0 0 104px 0; 
}

.education-container {
  margin-left: 20%;
  display: flex;
  padding-bottom: 40px;
}


/* ******************* About me */

.about-me {
  padding-top: 0;
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 100%;
  padding-bottom: var(--spacing-between-sections);
}

.about-me h3 {
  margin-bottom: 104px;
  width: 100%;
  text-align: left; 
  padding: 0; 
  margin: 0 0 104px 0; 
}

.about-me img{
  max-height: 480px;
  height: 100%; 
  max-width: 100%; 
  object-fit: contain; 
}

.paragraphs-container{
  margin-left: 20%;
  margin-top: 80px;
  display: flex;
  padding-bottom: 40px;
  gap: 20px;
}

.paragraphs-container p{
  flex: 1;
  max-width: 50%;
}
.paragraphs-container p br {
  content: "";
  display: block;
  margin-bottom: 20px;
}

/* ******************* Footer */
.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: var(--color-primary);
  color: var(--color-background);
}

.footer-contacts,
.footer-socialmedia {
  width: 100%;
  display: flex;
  flex-direction: column ;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.footer-contacts h5, h4 {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  color: var(--color-background);
}